.keyboardContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    padding-top: 5px;
    margin-bottom: 20px;

    background-color: #121214;
}



.KeyBoardD {
    height: 58px;
    width: 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin:5px 6px 0 0;

    background-color: #818384;
    color: white;
    font-weight: 600;
    flex-grow: 1;
}

.KeyBoardGreen {
    height: 58px;
    width: 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 5px 6px 0 0;

    background-color: #538d4e;
    color: white;
    font-weight: 600;
}

.KeyBoardOrange {
    height: 58px;
    width: 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 5px 6px 0 0;

    background-color: #b59f3b;
    color: white;
    font-weight: 600;
}

.KeyBoardGrey {
    height: 58px;
    width: 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 5px 6px 0 0;

    background-color: #3a3a3c;
    color: white;
    font-weight: 600;
}



.Enter {
    height: 58px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 5px 6px 0 0;
    font-size: 10px;

    background-color: #818384;
    color: white;
    font-weight: 600;


}

.Backspace {
    height: 58px;
    width: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 5px 6px 0 0;

    background-color: #818384;
    color: white;
    font-weight: 600;



}

@media screen and (max-width: 900px) {
    .keyboardContainer {
        width: 100%;
    }
}