.BoardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    height: 70vh;
}

.Board {
    width: 350px;
    height: 420px;

    display: flex;
    flex-direction: column;
}