.BoardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: calc(100% - 250px);

    background-color: #121214;
    overflow: scroll;
    width: 100%;
}

.Board {
    width: 350px;
    height: 420px;

    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 425px) {
    .BoardContainer {
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
    }
}


@media screen and (max-height: 667px) {
    .Board {
        width: 55%;
        height: 40vh;
    }

    .BoardContainer {
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
    }
}
